/* Resetting default styles */
:root {
    --bg: #fff;
    --primary-color: #fff;
    --txt-color: #3a3a3a;
    --txt-focus: #fff;
    --text-font: Helvetica, Arial, sans-serif;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
}
html, body{
    height: 100%;
    font-family: var(--text-font);
    color: var(--txt-color);
    background-color: var(--bg);
    font-size: 16px;
}
h1 {
    font-size: 2rem;
    margin-bottom: 35px;
}
a, a:visited {
    text-decoration: none;
    color: var(--txt-color);
}

p{
    line-height: 1.5;
    word-spacing: 5px;
    padding-bottom: 10px;
}

/* Resetting default styles ENDS */

.forumTitle {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bookingInquries > .contactForum > #clientRequest > #inputContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    
}
.input-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Adjusted width to fit two side by side */
    /*padding-left: 15px;
    padding-right: 15px;*/
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

.input-group input{
    border: 0.5px solid #ccc;
}


/* #inputContainer #clientName & #clientEmail allows 
    seperation inbetween then flexbox is in row form.*/
#inputContainer #clientName{
    margin-right: 15px;
}

#inputContainer #clientEmail{
    margin-left: 15px;
}

#messageInput{
width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0.5px solid #ccc;
  resize: none;
}

#inputNumber label,
#inputNumber input,
#inputContainer label,
#inputContainer input {
  padding-top: 5px;
  padding-bottom: 5px;
}



.grid{
    padding-left: 55px;
    padding-right: 55px;
}

@media screen and (max-width: 768px) {
    .bookingInquries > .contactForum > #clientRequest > #inputContainer{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    #inputContainer #clientEmail{
        margin-left: 0px;
    }
    #inputContainer #clientName{
        margin-right: 0px;
    }
}
