@import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong&display=swap');
/* Resetting default styles */
:root {
    --bg: #efefef;
    --primary-color: #fff;
    --txt-color: #3a3a3a;
    --txt-focus: #606060;
    --text-font: Helvetica, Arial, sans-serif;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
}
html, body{
    height: 100%;
    font-family: var(--text-font);
    color: var(--txt-color);
    background-color: var(--bg);
    font-size: 16px;
}
h1 {
    font-size: 1.5rem;
}
a, a:visited {
    text-decoration: none;
    color: var(--txt-color);
}

/* Header Styles */
header{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1.2rem 1.5rem;
    transition: top 0.3s ease-in-out;
    background-color: var(--bg);
    z-index: 5;
}
.header-icon {
    display: none;
    background: url(icons/hamburger.svg) no-repeat center;
    min-width: 3rem;
    height: 100%;
    cursor: pointer;
}
.close-icon {
    background: url(icons/close.svg) no-repeat center !important;
}
.header-nav-desktop {
    display: flex;
    gap: 1rem;
}
.header-nav .header-item:hover {
    color: var(--txt-focus);
    text-decoration: underline;
}
.header-nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-130%);
    width: 100%;
    grid-column: 1 / span 2;
    flex-direction: column;
    border-top: 1px #000 solid;
    transition: all .45s cubic-bezier(.29,.63,.44,1);
}
.header-nav-mobile .header-item {
    padding: 1.2rem 0.5rem;
    border-bottom: 1px rgb(197, 197, 197) solid;
}
.open-nav {
    transform: translateY(0) !important;
}
/* Hamburger Menu */
@media screen and (max-width: 768px) {
    .header-icon {
        display: block;
    }
    .header-nav .header-item {
        padding: 1.2rem 1.5rem;
        border-bottom: 1px rgb(197, 197, 197) solid;
    }
    .header-nav-desktop {
        display: none;
    }
    .header-nav-mobile { 
        display: flex;
    }
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    /*To animate on mobile header open and close */
    transition: all .45s cubic-bezier(.29,.63,.44,1);
}
/*
.main div{
    flex-grow: 1;
    /*border: 1px solid pink;
    width: 100%
}*/

.main > .pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    /*border: 1px solid pink;*/
    width: 100%;

}
.main > .pictures > img {
    width: 25%;
    height: 500px;
    object-fit: cover;
    flex-grow: 1;
  }

.main> .MadhuProfile {
    
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}



.main> .MadhuProfile  >.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.main> .MadhuProfile > .profilePicture > img {
    width: 100%;
    flex-grow: 1;
    height: 500px;
    object-fit: cover;
}


.main> .MadhuProfile >.aboutMe > h3 {
    font-family: "Trirong", serif;
    font-size: 32px;
    margin-bottom: 25px;
}

.main> .MadhuProfile >.aboutMe > p {
    line-height: 1.5;
    word-spacing: 5px;
    padding-bottom: 10px;

}

@media screen and (max-width: 768px) {
    .main > .pictures{
      flex-direction: column;
      align-items: center;
    }
    .main > .pictures > img{
        width: 85%;
        height: auto;
        background-color:rgb(241, 238, 236) ;
        --bg-overlay-color: rgb(241, 238, 236);
    }
  
    .main> .MadhuProfile{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-color: rgba(0,0,0,0.04);
        
    }
    .main> .MadhuProfile > .profilePicture {
        margin-top: 70px;
        height: auto;
        
    }
    main> .MadhuProfile > .profilePicture > img{
        width: 70%;
        height: auto;
    }
    .main> .MadhuProfile > .aboutMe {
        width: 90%
    }

  }


