@import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong&display=swap');
/* Resetting default styles */
:root {
    --page-width: 1400px;
    --page-width-small: 1100px;
    --left-right-padding: 1.5rem;
    --bg: #efefef;
    --bg-secondary: #cecac2;
    --primary-color: #537E89;
    --primary-active-color: #BFD7DE;
    --txt-color: #3a3a3a;
    --txt-focus: #606060;
    --heading-font: "Trirong", serif;
    --text-font: Helvetica, Arial, sans-serif;
    --header-height: 4.375rem;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
}
html, body{
    height: 100%;
    font-family: var(--text-font);
    color: var(--txt-color);
    background-color: var(--bg);
    font-size: 16px;
}
h1 {
    font-family: var(--heading-font);
    font-size: 1.5rem;
}
h2 {
    font-family: var(--heading-font);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
h3 {
    font-family: var(--heading-font);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
p {
    line-height: 1.5rem;
}
a, a:visited {
    text-decoration: none;
    color: var(--txt-color);
}
.btn {
    -webkit-border-radius: 29;
    -moz-border-radius: 29;
    border-radius: 29px;
    color: #ffffff;
    font-family: var(--text-font);
    background: var(--primary-color);
    padding: 0.5rem 1.3rem;
    border: none;
    cursor: pointer;
} 
.btn:hover {
    color: var(--txt-color);
    background: var(--primary-active-color);
}

/* General section styles */
section {
    margin: 5rem 0;
    padding: 1.2rem 0;
}
.full-width {
    background-color: var(--bg);
    width: 100%;
}
.secondary-bg {
    background-color: var(--bg-secondary);
}
.page-width {
    width: 100%;
    max-width: var(--page-width);
    padding: 0 var(--left-right-padding);
}
.page-width-small {
    width: 100%;
    max-width: var(--page-width-small);
    padding: 0 var(--left-right-padding);
}
.grid-center {
    display: grid;
    place-items: center;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}
.inline-link {
    text-decoration: underline;
}

/* Header Styles */
.header-container {
    position: fixed;
    top: 0; 
    height: var(--header-height);
    transition: top 0.3s ease-in-out;
    z-index: 5;
}
header{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;  
    width: 100%;
    padding: 0 var(--left-right-padding);
}
.header-icon {
    display: none;
    background: url(icons/hamburger.svg) no-repeat center;
    min-width: 3rem;
    height: 100%;
    cursor: pointer;
}
.close-icon {
    background: url(icons/close.svg) no-repeat center !important;
}
.header-nav-desktop {
    display: flex;
    gap: 1rem;
}
.header-nav .header-item:hover {
    color: var(--txt-focus);
    text-decoration: underline;
}
.header-nav-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-130%);
    width: 100%;
    grid-column: 1 / span 2;
    flex-direction: column;
    background-color: var(--bg);
    border-top: 1px #000 solid;
    transition: all .45s cubic-bezier(.29,.63,.44,1);
    z-index: 4;
}
.header-nav-mobile .header-item {
    padding: 1.2rem 0.5rem;
    border-bottom: 1px rgb(197, 197, 197) solid;
}
.open-nav {
    transform: translateY(0) !important;
}
/* Hamburger Menu */
@media screen and (max-width: 768px) {
    .header-icon {
        display: block;
    }
    .header-nav .header-item {
        padding: 1.2rem 1.5rem;
        border-bottom: 1px rgb(197, 197, 197) solid;
    }
    .header-nav-desktop {
        display: none;
    }
    .header-nav-mobile { 
        display: flex;
    }
}

/* Parallax image banner styles */
.img-banner {
    height: 600px;
}
.parallax {
    position: fixed;
}
.img-banner img {
    width: 25%;
    height: 600px;
    object-fit: cover;
}
@media screen and (max-width: 768px) {
    .img-banner img{
        width: 50%;
        height: 300px;
    }
}

/* Main Content absolute positioned for parallax effect */
main {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    width: 100%;
    background: var(--bg);
}

/* About Me section styles */
.img-w-text {
    grid-template-columns: auto 1fr;
    gap: 3rem;
}
.profile-picture {
    background-image: url(pictures/Madhu.jpg);
    background-size: cover;
    border-radius: 50%;
    height: 350px;
    width: 350px;
}
@media screen and (max-width: 768px) {
    .img-w-text {
        grid-template-columns: auto;
    }
    .profile-picture {
        height: 250px;
        width: 250px;
    }
}

/* Service section styles */
.multicolumn {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.card {
    width: 100%;
    padding: 1rem;
    background-color: #fff;
}
.card .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 768px) {
    .multicolumn {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 425px) {
    .multicolumn {
        grid-template-columns: 1fr;
    }
}



